@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@500&family=Quicksand:wght@600&family=Righteous&family=Staatliches&display=swap');

/* font-family: 'Noto Nastaliq Urdu', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Staatliches', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: url('Images/greenLeaves.jpg');
    background-size: 100%;
    font-family: 'Staatliches', cursive;
}

h1 {
    height: 100px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    padding-top: 10px;
    color: #f36b2b;
    font-size: 400%;
    background: #f4cfa9b5;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;;
    font-family: 'Righteous', cursive;
}

#startingButtons {
    width: 200px;
    height: 100px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    /* border: 1px solid red; */
}

#playerButtons {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid blue; */
    height: 150px;
}


#player1 {
    visibility: hidden;
    background: #f0687f;
    color: white;
    width: 200px;
    text-align: center;
    margin-top: 25px;
    align-self: center;
    padding: 10px;
}

#player2 {
    visibility: hidden;
    background: #f0687f;
    color: white;
    width: 200px;
    text-align: center;
    align-self: center;
    margin-top: 25px;
    padding: 10px;
}

#winner {
    visibility: hidden;
    background: #f0687f98;
    color: white;
    width: 100%;
    font-size: xx-large;
    text-align: center;
    align-self: center;
    margin-top: 250px;
    position: absolute;
    /* border: 1px solid yellow; */
}

#start {
 visibility: visible;
 height: 35px;
 width: 75px;
 color: whitesmoke;
 font-family: 'Righteous', cursive;
 background-color: #f0687f;
 border: 2px solid #b75464;
 border-radius: 15px;
 outline: none;
 text-align: center;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 will-change: transform; 
 position: absolute;
 font-size: larger;
}

#start:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#start:active {
  box-shadow: none;
  transform: translateY(0);
}


#reset {
    visibility: hidden;
    height: 35px;
    width: 75px;
    padding: 5px;
    color: whitesmoke;
    font-family: 'Righteous', cursive;
    background-color: #f0687f;
    border: 2px solid #b75464;
    border-radius: 15px;
    outline: none;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    will-change: transform;
    position: absolute;
    font-size: larger;
}

#reset:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
#reset:active {
    box-shadow: none;
    transform: translateY(0);
 }

.numOfPlayers { 
    visibility: hidden;
    height: 40px;
    width: 100px;
    color: whitesmoke;
    font-family: 'Righteous', cursive;
    background-color: #f0687f;
    border: 2px solid #b75464;
    border-radius: 15px;
    outline: none;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    will-change: transform;
    font-size: larger;
    margin: 10px;
}

.numOfPlayers:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
.numOfPlayers:active {
    box-shadow: none;
    transform: translateY(0);
 }


#player1Input {
    visibility: hidden;
    position: absolute;
    background-color: #f0687f;
    border-bottom: 1px solid #b75464;
    outline: none;
    height: 25px;
    width: 250px;
    color: whitesmoke;
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

#player2Input {
    visibility: hidden;
    position: absolute;
    margin-top: 70px;
    background-color: #f0687f;
    border-bottom: 1px solid #b75464;
    outline: none;
    height: 25px;
    width: 250px;
    color: whitesmoke;
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

::placeholder {
    color: whitesmoke;
    text-align: center;
}

#enter {
    visibility: hidden;
    height: 35px;
    width: 75px;
    color: whitesmoke;
    font-family: 'Righteous', cursive;
    background-color: #f0687f;
    border: 2px solid #b75464;
    /* border: 2px solid red; */
    border-radius: 15px;
    outline: none;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    will-change: transform;
    font-size: larger;
    position: absolute;
    margin-top: 150px;
}

#enter:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
#enter:active {
    box-shadow: none;
    transform: translateY(0);
}

#gameboard {
    width: 950px;
    height: 250px;
    margin: 25px auto auto auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Nastaliq Urdu', serif;
    background: url('Images/woodOne.jpg');
    background-size: contain;
}

#playerPits {
    height: 250px;
    width: 650px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#playerOne div,
#playerTwo div {
    border: 5px double rgb(89, 58, 17);
    text-align: center;
    font-size: xx-large;
    height: 100px;
    width: 100px;
    background-color: rgba(130, 101, 101, 0.466);
    border-radius: 50%;
    color: whitesmoke;
    font-size: xx-large;
}

#playerOne {
    display: flex;
    flex-flow: row nowrap;
    width: 650px;
    height: 110px;
    justify-content: space-between;
}


#sixEnd {
    height: 200px;
    width: 100px;
    margin-left: 25px;
    border: 5px double rgb(89, 58, 17);
    text-align: center;
    padding-top: 50px;
    border-radius: 50%;
    font-size: xx-large;
    color: whitesmoke;
    font-size: xx-large;
}


#playerTwo {
    display: flex;
    flex-flow: row nowrap;
    width: 650px;
    height: 110px;
    justify-content: space-between;
}

#thirteenEnd {
    height: 200px;
    width: 100px;
    margin-right: 25px;
    border: 5px double rgb(89, 58, 17);
    text-align: center;
    padding-top: 50px;
    border-radius: 50%;
    color: whitesmoke;
    font-size: xx-large;
}